@font-face {
  font-family: 'Prompt Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Prompt Regular'), url('/fonts/Prompt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Regular'), url('/fonts/DMSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white !important;
  text-transform: capitalize !important;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: #00011d; /* Change later */
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 22px;
  font-family: "Prompt Regular";
}

h3 {
  font-family: 'DM Sans Regular';
  font-size: 15px;
}

h4 {
  font-size: 15px;
}

h4 span {
  opacity: .6;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiSlider-rail {
  opacity: 1;
  height: 8px;
  background: linear-gradient(90deg, rgba(39,43,98,1) 0%, rgba(140,36,69,1) 100%);
}

.MuiSlider-thumb {
  height: 8px;
  width: 0;
  border: 1px solid rgba(256, 256, 256, .5);
  border-radius: 0;
}

.MuiSlider-track {
  opacity: 0;
}

.MuiTableCell-root {
  font-family: 'DM Sans Regular';
  border: none;
}