.container {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #0c0f26;
  border: 1px solid rgba(256, 256, 256, .1);
}

.row {
  font-family: 'Prompt Regular';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row span {
  display: flex;
  flex: 1 1 0%;
}

.button {
  font-family: 'Prompt Regular' !important;
  opacity: .5;
  border-radius: 10px;
}

.valueContainer {
  font-size: 11px;
  border: 1px solid rgba(256, 256, 256, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  border-radius: 5px;
}


