.container {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  background-color: #0c0f26;
}

.row {
  font-family: 'Prompt Regular';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row span {
  display: flex;
  flex: 1 1 0%;
}

.button {
  font-family: 'Prompt Regular' !important;
  opacity: .5;
  border-radius: 10px;
}

.progressBar {
  height: 5px;
}

