.main {
  min-width: 500px;
  max-width: 590px;
  width: 60vw;
  height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableContainer {
  border-radius: 10px;
  background-color: #0c0f26;
  border: 1px solid rgba(256, 256, 256, .1);
  min-height: 200px;
  max-height: 310px;
  padding: 0;
}

.graphWrapper {
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
}

.graphValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  font-family: 'Prompt Regular';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row span {
  display: flex;
  flex: 1 1 0%;
}

.button {
  font-family: 'Prompt Regular' !important;
  opacity: .5;
  border-radius: 10px;
}

.button2 {
  font-family: 'DM Sans Regular' !important;
  text-transform: none !important;
  opacity: .5;
  border-radius: 10px;
}

.valueContainer {
  font-size: 11px;
  border: 1px solid rgba(256, 256, 256, .2);
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.iconLarge {
  height: 20px;
  margin-right: 10px;
}

.iconSmall {
  height: 13px;
  margin-right: 5px;
}

.blueText {
  color: #5B8CFF !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 30px;
}

.assetContainer {
  display: flex;
  align-items: center;
}