@font-face {
  font-family: 'Prompt Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Prompt Regular'), url('/fonts/Prompt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Regular'), url('/fonts/DMSans-Regular.ttf') format('truetype');
}

body {
  background: gray; /* Change later */
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}