.container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  background-color: #0c0f26;
}

.title {
  font-family: 'Prompt Regular';
  font-size: 1.3rem;
}